doctype html
html(lang="en")
  head
    title SF Firings
    link(href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet")
    link(href="css/firings.css" rel="stylesheet")
  body
    header
      h2 Who just got fired in San Francisco?
      button#FireSomeone Fire Someone!
    main
      
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="js/min/firings.min.js")