-var siteTitle = "Who just got fired in San Francisco?"
-var siteURL = "http://firings.xyz"
-var lastUpdated = "10.14.2015"
doctype html
html(lang="en")
  head
    include ./jade/head.jade
  body
    header
      h1 Who just got fired in San Francisco?
    main
    footer
      .inner
        p This is a little app built by 
          a(href="https://twitter.com/AhoyLemon") @AhoyLemon
          |  with some help from his friends.
        p All data on this site is randomly generated. However, if you see your name and job title in here, you might already be fired, better check.
        p Source code available on 
          a(href="https://github.com/AhoyLemon/sf-firings") GitHub
          | . Forks and pull requests welcome.
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="js/min/firings.min.js?updated=#{lastUpdated}")