doctype html
html(lang="en")
  head
    title SF Firings
    link(href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet")
    link(href="css/firings.css" rel="stylesheet")
  body
    main
      h1 YES HELLO
    footer
      button#FireSomeone Fire Someone!
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="js/min/firings.min.js")