main { max-width:$max-width; margin-left: auto; margin-right: auto; padding-top: 1em; margin-bottom: 7em;
  article { background:$tweet; padding: 1em; margin-bottom: 0.25em; border:1px solid darken($tweet,20%); display:none;
    time { display: block; text-align: right; font-size:0.7em; }
    .job { font-weight: $bold; }
    .company { font-style: italic; padding-right: 0.2em; }
  }
}