/**
header { max-width: $max-width; margin-left: auto; margin-right: auto; text-align: center;
  
  button { font-size:1.2em; font-family: $font; cursor: pointer; margin-top: 1em; }
}
**/
header { background:$orange;
  h1 { font-size:5.5vw; text-align: center; display: block; padding: 0.25em; color:$white; }
}

button { position: fixed; bottom:0; right: 0; padding:0.25em 0.5em; font-size:2em; background:$dark; color:$white; border:none; appearance:none; cursor: pointer; outline:none;
  &:hover { background:$orange; }
  &:active { box-shadow: inset 0.2em 0.2em 0.1em $dark; }
}