$font: 'Raleway', sans-serif;
$font-size:16px;
$light:300;
$normal:400;
$bold:700;

$dark:#131313;
$orange: #c85c0d;
$white:#f5f5f5;
$yellow:#f2efe4;

$tweet:#f4f3ed;

$tablet:1000px;
$phone:650px;

$max-width:600px;

$easeBounce: cubic-bezier(0, 2, 1, 1);